<app-navbars ></app-navbars>



<div class="image-cover">
  
  <div>
    <img class="blogsticker" src="../../assets/images/blogpost1.gif" alt="">
  </div>
</div>




<div class="card-container">
    <div class="insidecard-container"  >
<div class="card" >
    <img class="card-img-top" src="../../assets/images/tigers-nest-bhutan.webp" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Tiger's Nest Monastery Bhutan Hike (Paro Taktsang)</h5>
      <p class="card-text">The Tiger’s Nest Monastery hike is one of the best things to do in Bhutan, and probably one of the most amazing day hikes anywhere in the …</p>
      <a href="https://theworldtravelguy.com/tigers-nest-monastery-bhutan/" class="btn btn-primary">READ MORE</a>
    </div>
  </div>
  <div class="card" >
    <img class="card-img-top" src="../../assets/images/seramisland.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Seram Island & Ora Beach Travel Guide (Maluku, Indonesia)</h5>
      <p class="card-text">Seram island in Maluku is one of the best kept secrets of Indonesia. The beautiful Ora Beach Resort has views like Bora Bora, and most of the …</p>
      <a href="#" class="btn btn-primary">READ MORE</a>
    </div>
  </div>
  <div class="card" >
    <img class="card-img-top" src="../../assets/images/antelope.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Antelope Canyon X Tour Review, Photos & Experience</h5>
      <p class="card-text">We recently traveled through Arizona and tried all of the Antelope Canyon tours over the course of a week, and I would have to say our favorite …</p>
      <a href="https://theworldtravelguy.com/seram-island-ora-beach/" class="btn btn-primary">READ MORE</a>
    </div>
  </div>
</div>


<div class="insidecard-container"  >
  <div class="card" >
      <img class="card-img-top" src="../../assets/images/antelope.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Antelope Canyon Tours: Which Is Best? (Upper, Lower, X)</h5>
        <p class="card-text">Antelope Canyon is arguably the most famous and beautiful slot canyon in the United States. Located in Arizona on Navajo tribal land, the canyon has a bunch …</p>
        <a href="https://theworldtravelguy.com/antelope-canyon-tours/" class="btn btn-primary">READ MORE</a>
      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/vietnamincense.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Vietnam Incense Village Tour (Quang Phu Cau) From Hanoi</h5>
        <p class="card-text">The Hanoi area of Vietnam has lots of interesting places that you can visit on a short trip outside the city, and one of the best for …</p>
        <a href="https://theworldtravelguy.com/incense-village-vietnam/" class="btn btn-primary">READ MORE</a>
      </div>
    </div>
    <div class="card" >
      <img class="card-img-top" src="../../assets/images/halfdomedeath.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Half Dome Deaths: How Many People Have Died On The Hike?</h5>
        <p class="card-text">The infamous Half Dome hike in Yosemite National Park is commonly described as one of the most dangerous hikes in the United States. People have died from …</p>
        <a href="https://theworldtravelguy.com/half-dome-deaths/" class="btn btn-primary">READ MORE</a>
      </div>
    </div>
  </div>



  <div class="insidecard-container"  >
    <div class="card" >
        <img class="card-img-top" src="../../assets/images/tajmahal.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">eVisa India: How To Get An Indian e-Visa Online (Travel & Tourist)</h5>
          <p class="card-text">India has some amazing architecture and natural sights, with famous landmarks like the Taj Mahal in Agra, and snow capped mountains in the Himalayas. Most nationalities (except …</p>
          <a href="https://theworldtravelguy.com/evisa-india-how-to-get-an-india-tourist-visa-for-travel/" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
      <div class="card" >
        <img class="card-img-top" src="../../assets/images/palau.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Palau Scenic Flight Over The Rock Islands + Pictures</h5>
          <p class="card-text">A scenic flight over the Rock Islands is becoming one of the most popular things for tourists to do in the little country of Palau, and it's …</p>
          <a href="https://theworldtravelguy.com/palau-scenic-flight-rock-islands/" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
      <div class="card" >
        <img class="card-img-top" src="../../assets/images/boholphilipines.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Bohol Philippines Island Travel Guide & How To Visit</h5>
          <p class="card-text">The island of Bohol Philippines is a unique one, with exotic landscapes like the 'Chocolate Hills,' and wild tarsiers, the world's smallest primate. Bohol may not be …</p>
          <a href="https://theworldtravelguy.com/bohol-philippines-island/" class="btn btn-primary">READ MORE</a>
        </div>
      </div>
    </div>


    <div class="insidecard-container"  >
      <div class="card" >
          <img class="card-img-top" src="../../assets/images/mountain.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mount Dukono Volcano Hike In Maluku, Indonesia</h5>
            <p class="card-text">Mount Dukono is one of the most active volcanoes in the world, and it's been erupting non-stop since 1933. If you're a hiker you can go see …</p>
            <a href="https://theworldtravelguy.com/mount-dukono-volcano-hike/" class="btn btn-primary">READ MORE</a>
          </div>
        </div>
        <div class="card" >
          <img class="card-img-top" src="../../assets/images/lamanai.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Lamanai Belize Ruins: The Mayan Mask Temple</h5>
            <p class="card-text">The Lamanai ruins in Belize are some of the most fascinating Mayan ruins in Central America, complete with a 'Mask Temple' that has giant stone faces carved …</p>
            <a href="https://theworldtravelguy.com/lamanai-belize-mayan-ruins/" class="btn btn-primary">READ MORE</a>
          </div>
        </div>
        <div class="card" >
          <img class="card-img-top" src="../../assets/images/santaana.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Santa Ana Volcano Hike In El Salvador (Ilamatepec)</h5>
            <p class="card-text">The Santa Ana volcano hike is one of El Salvador's most amazing experiences, with a super colored crater lake that can change blue or green depending on …</p>
            <a href="https://theworldtravelguy.com/santa-ana-volcano-el-salvador/" class="btn btn-primary">READ MORE</a>
          </div>
        </div>
      </div>
</div>

<app-footer></app-footer>


