<div class="first-container" style="margin: 0px; height: 100%">
  <div
    class="video-container"
    style="position: absolute; width: 100%; margin: 0px"
  >
    <video
      loop
      muted
      autoplay
      oncanplay="this.play()"
      onloadedmetadata="this.muted = true"
      class="upperlogo"
      id="video"
      style="width: 100%; height: 100%"
    >
      <source
        src="../../assets/video/northern2.mp4"
        type="video/mp4"
        style="margin: 0px"
      />
    </video>
  </div>
  <div class="overlay">
    <div>
      <img class="giff" src="../../assets/video/flight.gif" alt="" />
      <div class="headingcontainer">
        <h1 class="title">
          Explore. Dream.
          <p class="titlep">Discover.</p>
        </h1>
      </div>
      <div class="smalltitle">
        <h4 class="h4smalltitle" style="line-height: 2">
          This is a travel blog about beautiful hidden destination around the
          world.
        </h4>
        <button type="button" class="btn btn-outline-primary">
         <a style="font-size: 18px; font-weight: bold; color: aliceblue;  text-decoration: none;" href="/card" >Explore</a>
        </button>
      </div>
    </div>
  </div>
 
 <app-navbars style="opacity: 0.5;" ></app-navbars>
  <div class="earthspin">
    <img class="earthspin1"  src="../../assets/video/earthmap.gif" alt="">

  </div>
</div>
